:root{
  font-family: 'Roboto', sans-serif;
  --border-radius: 10px;
}

input{
  box-sizing: border-box;
  max-width: 90%;
}

body{
  padding: 0;
  margin: 0;
}

.container{
  /* padding-right: 40px;
  padding-left: 40px; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: clamp(20px,3vw,3rem);
}

input[type=number]{
  border: none;
  height: 30px;
  padding-left: 10px;
  border-radius: var(--border-radius);
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-diri,.psikologis,.fisik,.mp{
  background-color: rgb(167, 237, 255);
  border-radius: var(--border-radius);
  margin: 10px;
  padding: 25px;
  padding-top: 10px;
  width: 60vw;
}

.data-diri label{
  margin-bottom: 5px;
}

.umurdiv,.jkdiv,.range-input,.mp{
  display: flex;
  flex-direction: column;
}

.umurdiv{
  margin-bottom: 15px;
}

.submit-btn{
  height: 45px;
  width: 40%;
  background-color: hsl(224, 93%, 58%);
  color: white;
  /* border: 2px solid var(--bright-blue); */
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 900;
  margin: 20px;
}

@media (max-width: 768px) {
  .data-diri,.psikologis,.fisik,.mp{
    /* width: 100%; */
    width: 80vw;
  }
}